*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Neue Haas Grotesk', Helvetica, sans-serif; 
    font-size: 20px;
}

#cloud{
    background-color: transparent;
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    pointer-events: none;
}

#logoWrapper{
    background-color: transparent;
    width: 400px;
    position: fixed;
    z-index: 900;
    left: 12px;
    // top: 12px;

    img{
        max-width: 100%;
    }
}

#inputWrapper{
    position: fixed;
    bottom: 12px;
    width: 90vw;
    left: 5vw;
    z-index: 1100;
    display: grid;
    grid-template-columns: 1fr 100px;

    input{
        width: 100%;
        padding: 6px;
        text-align: center;
        outline: none;
        border: 0;
        // height: 3em;
        background-color: #fafafa;
    }

    #btn-submit{
        background-color: black;
        color: white;
        height: 100%;
        // margin-top: 12px;
        padding: 6px;
        text-align: center;
        transition: 0.1s all ease-in-out;
        display: flex;
        flex-direction: column;
        justify-content: center;

        #textline-submit{
            display: block;
            // border: 1px solid red;
        }

        &:hover{
            cursor: pointer;
            background-color: rgb(30, 30, 30);
        }
    }
}

@media screen and (min-width: 1200px){ // desktop screens
    #inputWrapper{
        width: 50vw;
        left: 25vw;
    }
}

.sinWrapper{
    // border: 1px solid black;
    width: 500px;
    padding: 12px;
    transition: 2s all;
    position: absolute;
    opacity: 0;
    animation: appear 2s forwards;

    .sinText{
        display: block;
        // border: 1px solid red;
        text-align: center;
    }
}

@keyframes appear {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
  }

  #adminPanel{
        max-width: 800px;
        padding: 12px;

        h1{
            margin: 0 !important;
            padding-top: 6px;
        }

        #banner{
            display: grid;
            grid-template-columns: 200px 100px;
            margin-bottom: 12px;

            .btn-back{
                padding: 6px;
                background-color: black;
                color: white;
                text-align: center;
                cursor: pointer;
            }
        }

        .adminItem{
            display: grid;
            grid-template-columns: 50px 1fr 100px;
            margin-bottom: 6px;
            padding-top: 6px;
            padding-bottom: 6px;

            &:hover{
                background-color: lightgray;
            }

            .btn-delete{
                color: red;
                text-align: center;
                cursor: pointer;
            }
        }

        h1{
            margin-bottom: 12px;
        }
  }